name: Lint

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install NPM Dependencies
      run: npm install
    - name: Lint
      run: npm run lint
